.bannerContainer {
  width: 100%;
  height: 850px;
  position: relative;
  margin-top: 90px;
}

.slideWrapper {
  width: 100%;
  height: 100%;
  position: relative; /* مهم برای Image با fill */
  overflow: hidden;
  border-radius: 16px;
  object-fit: cover;
}
.mySwiper {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .bannerContainer {
    margin-top:90px ;
  height: 580px;


  }
      .mySwiper {
  width: 100%;
  height: 580px;
}
}

@media (max-width: 768px) {
  .bannerContainer {
    margin-top:90px ;

    height: 480px;
  }
    .mySwiper {
  width: 100%;
  height: 480px;
}
  
}

@media (max-width: 480px) {
  .bannerContainer {
    margin-top:90px ;
    height: 380px;

  }
  .mySwiper {
  width: 100%;
  height: 380px;
  object-fit:contain;


}

  
}
