.container {
  max-width: 1380px;
  direction: rtl; /* تضمین راست‌چین بودن */
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a  ;
  border-radius: 20px;
  box-shadow: #696666 0px 2px 15px 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff; /* رنگ قهوه‌ای تیره */
  margin-bottom: 10px;
  padding: 0 10px;

}

.description {
    display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 0 10px;

}

.mainContent {
  padding: 0 5%;
}
.articles_slider :global(.swiper-button-next),
.articles_slider :global(.swiper-button-prev) {
   color:#1a1a1a;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border-radius: 50%;
}

.articles_slider :global(.swiper-button-next::after),
.articles_slider :global(.swiper-button-prev::after) {
  font-size: 20px;
}