.container {
  max-width: 1380px;
  direction: rtl; /* تضمین راست‌چین بودن */
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #000; /* رنگ قهوه‌ای تیره */
  margin-bottom: 10px;
  padding: 0 10px;

}

.description {
  color: #000;
  font-size: 1rem;
  padding: 0 10px;

}

.mainContent {
  padding: 0 5%;
}


