.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  direction: rtl;
}

.form_card {
  background: #fff;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;

}

.title { color: #3d2b1f; font-size: 1.6rem; margin-bottom: 8px; }
.subtitle { color: #888; font-size: 0.85rem; margin-bottom: 30px; }

/* Floating Labels */
.input_group {
  position: relative;
  margin-bottom: 20px;
}

.input {
  width: 90%;
  padding: 14px;
  border: 1.5px solid #eee;
  border-radius: 12px;
  outline: none;
  font-size: 0.95rem;
  transition: 0.3s;
}

.floating_label {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 0.3s;
  background: #fff;
  padding: 0 5px;
  pointer-events: none;
}

.input:focus ~ .floating_label,
.input:not(:placeholder-shown) ~ .floating_label {
  top: 0;
  font-size: 0.75rem;
  color: #d4a373;
}

.input:focus { border-color: #d4a373; }

/* Buttons */
.btn_primary {
  width: 100%;
  background: #3d2b1f;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn_otp {
  width: 100%;
  background: #fff;
  color: #3d2b1f;
  border: 1px solid #3d2b1f;
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn_primary:hover { background: #5a402e; }

.footer_links {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #777;
}

.btn_switch {
  background: none;
  border: none;
  color: #d4a373;
  font-weight: 800;
  cursor: pointer;
  margin-right: 5px;
}

.cancel_text  {
  margin-top: 20px;
  text-decoration: none;

  color: #aaa;
  cursor: pointer;
  font-size: 0.85rem;
}