.container {
  background: #fff;
  border-radius: 15px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f8f8f8;
}

.title_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title_box p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3d2b1f;
  margin: 0;
}

.title_icon {
  color: #d4a373;
  font-size: 1.2rem;
}

.all_link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d4a373;
  font-size: 0.85rem;
  text-decoration: none;
  transition: 0.3s;
}

.all_link:hover {
  color: #3d2b1f;
  transform: translateX(-5px);
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* بخش وضعیت خالی */
.empty_state {
  text-align: center;
  padding: 40px 20px;
  background-color: #fdfaf7;
  border-radius: 12px;
  border: 1px dashed #d4a373;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.empty {
  color: #888;
  font-size: 0.9rem;
  margin: 0;
}

.shop_btn {
  background-color: #3d2b1f;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.3s;
}

.shop_btn:hover {
  background-color: #d4a373;
}

/* --- Responsive --- */
@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .all_link {
    align-self: flex-end;
  }
}