.container {
  max-width: 1380px;
  margin: 0 auto;
  direction: rtl;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.title_box h1 {
  font-size: 1.8rem;
  color: #3d2b1f;
  margin-bottom: 5px;
}

.title_box p {
  color: #888;
  font-size: 0.9rem;
}

.search_wrapper {
  width: 400px;
}

.main_content {
  display: flex;
}

.sidebar {
  flex: 0 0 280px;
  position: sticky;
  top: 100px;
  height: fit-content;
}

.products_section {
  flex: 1;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.empty_state {
  text-align: center;
  padding: 80px 0;
}

/* --- Responsive --- */

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .search_wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
    .products_section {
        width: 100%;
  margin: 0 auto;
}
     .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  gap: 15px;
}
  .main_content {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    position: static;
  }
}
@media (max-width: 480px) {
     .products_section {
        width: 100%;
        margin: 0 auto;
}
  .main_content {
    flex-direction: column;
  }
 

}