.container {
  background-color: #fff;
 direction: rtl;
  min-height: 100vh;
  margin-top: 150px;
}

.contents {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

/* بخش عکس محصول */
.main > div:first-child {
  flex: 1;
}

/* بخش جزئیات و خرید */
.main > div:last-child {
  flex: 1.2;
}

/* رسپانسیو برای موبایل */
@media (max-width: 992px) {
  .main {
    flex-direction: column;
    gap: 20px;
  }
}