.navbar_container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  direction: rtl;
  background: rgba(255, 255, 255, 0.35); /* شفاف واقعی */
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); /* برای Safari */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
  transition: backdrop-filter 0.3s ease;
  height: 60px;
  border-radius: 20px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo_container img {
  height: 60px;
  object-fit: contain;
}

/* لینک‌ها برای دسکتاپ */
.links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.links li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 20px;
}

/* اکشن‌ها */
.navbar_actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 20px;
}

.action_icon {
  position: relative;
  color: #333;
}

.action_icon span {
  position: absolute;
  top: -6px;
  right: -10px;
  background: crimson;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 5px;
}


/* آیکون همبرگر فقط در موبایل */
.hamburger_icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

/* حالت موبایل */
@media (max-width: 768px) {
  .navbar_container{
    direction: ltr;
  }
  .hamburger_icon {
    display: block;
  }

  .links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 65%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    align-items:end;
    padding: 20px;
    gap: 1.5rem;
    transition: right 0.3s ease;
    z-index: 200;


  }


  .links_active {
    right: 0;
    
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 150;
  }
}
@media (max-width: 480px) {
.navbar {
  justify-content: space-between;
}
.navbar_container {
  width: 90%;
}
}
