/* کانتینر اصلی */
.details {
  max-width: 900px;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(rgb(137, 218, 224), rgb(255, 255, 255));

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(19, 180, 220, 0.3);
}

/* عنوان */
.title {
  font-size: 2rem;
  font-weight: 600;
  color: #111;
  text-align: center;
  margin-bottom: 2rem;
}

/* بخش اصلی فرم */
.details_main {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/* بخش‌های فرم */
.details_main section {
  flex: 1;
  min-width: 280px;
}

/* لیبل‌ها */
.details_main label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
  font-size: 0.95rem;
}

/* اینپوت‌ها */
.details_main input[type="text"],
.details_main input[type="number"],
.details_main input[type="password"] {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  border: 1px solid #0ae6d4;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.details_main input:focus {
  border-color: #0071e3;
  box-shadow: 0 0 8px rgba(0, 113, 227, 0.3);
  outline: none;
}

/* گروه تغییر رمز عبور */
.password_group {
  display: flex;
  gap: 0.5rem;
}

.password_group input {
  flex: 1;
}

.password_group button {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: none;
  background: #0071e3;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.password_group button:hover {
  background: #005bb5;
}

/* آپلودر تصویر */
.uploader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.uploader img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.uploader div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.uploader button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #0071e3;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.uploader button:hover {
  background: #005bb5;
}

.uploader input[type="file"] {
  display: none;
}

/* دکمه ثبت تغییرات */
.submit_btn {
  width: 100%;
  padding: 0.8rem 0;
  margin-top: 1rem;
  border-radius: 15px;
  border: none;
  background: #0071e3;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit_btn:hover {
  background: #005bb5;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 113, 227, 0.2);
}

/* واکنش‌گرا */
@media (max-width: 768px) {
  .details_main {
    flex-direction: column;
  }
}
