
.boxes {
  gap: 20px;
  margin-top: 3rem;
  padding: 0 40px; 
  display: flex;
  flex-wrap: wrap;
}

.contents {
  margin-top: 70px;
  display: flex;
  padding: 40px;
  gap: 10px;
}


@media (max-width: 768px) {
  .boxes {
    padding: 0 15px;
    margin-top: 2rem;
  }

  .contents {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
}